body{
  background-image: linear-gradient(to bottom right, rgb(73, 73, 245), rgb(243, 77, 77));
  font-size: 1.5vh;
  font-weight: 200;
}
.hai{
  font-family: Open sans;
  border: 1vh solid gray;
  margin: 15vh 30vw;
  padding: 2em;
}
div {
  margin: 0em 0.1em;
  border-left: 0.2em solid rgba(54, 49, 49, 0.267);
}
.hello{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5vh;
  font-weight: 800;
}
.bottom {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(40, 243, 57);
    letter-spacing: 0.1em;
    font-size: 2vh;
 
  }
