body {
  background-image: linear-gradient(rgb(143, 136, 136), rgb(231, 168, 179));
}
.jumbotron {
  background-image: linear-gradient(rgb(28, 28, 226), rgb(75, 233, 75));
}
.thumbnail {
  background-color: rgb(181, 123, 235);
}
