h1 {
  color: rgb(45, 97, 97);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5em;
}
.bottom {
  background-image: linear-gradient(rgb(255, 255, 255), gray);
  width: 100px;
  height: 100px;
  background-color: white;
  border-bottom: 2px solid black;
}
.right {
  background-image: linear-gradient(rgb(255, 255, 255), gray);
  width: 100px;
  height: 100px;
  background-color: white;
  border-right: 2px solid black;
}
.tabby {
  background-image: linear-gradient(rgb(255, 255, 255),gray);
  margin: 50px auto;
}
